@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*  Reset CSS  */
* { margin:0;  padding:0;}
ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body {font-family:orbitron; } 
button{
width:  22px;
height: 22px;
border-radius: 50%;
background: none;
color: #7f8fa6;
outline: none;
border: none;
text-align: center;line-height: 22px;
}

button:active{
  transform: scale(.9) !important;
}

input[type="text"] {
  background: transparent;
  padding: 12px;
  outline: none;
  font-size: 18px;
  color: #666;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  width: 417px;
  border: 5px solid #7f8fa6;
}



/* 전체 프레임 */
#wrap {position:fixed; top:0px; left:0px; width:100%; height: 100%; min-width: 1400px; min-height: 780px; background-image:url(../img/bg_morning.jpg); background-size: cover; transition: all 2s;}

/* */
.form,
.greetings {
    display: none;
  }
.showing {
    display: block;
}
  .greetings{ position: absolute; top:205px; left:150px; font-size: 70px; }

/* 텍스트박스 */
article{position: absolute; top:320px; left:250px; width:450px;}
article p{font-size: 50px; color: #666;}
article p strong{color:#111;}
article em{font-size: 14px; font-style: normal; color: #333;}

/* 모바일 */
figure{position: absolute; top:200px; right:-300px; width:1226px; height: 809px; background: url(../img/phone_morning.png) no-repeat; transition: 2s;}
figure p {position: relative; top:100px; left:137px; width:540px; height: 307px; overflow: hidden; font-size: 60px; font-weight: bold; color: #333; line-height: 4.6; box-sizing: border-box; padding-left: 50px;}
figure p span{position: absolute; z-index: 5;}
figure p span:nth-child(1){left:10px;}
figure p span:nth-child(2){right: 8px; top: -13px; font-size: 18px;}
/* 인사 */

.js-form{
    position: absolute;
    z-index: 10;
    top:205px;
    left:150px;
}
.js-form input[type="text"] {
  font-size: 18px;
  color: #333;
  width: 335px;
}
/* 투두리스트 */
.js-toDoForm{ margin-top: 10px;}
.js-toDoList{ line-height: 2; margin-top:20px;  text-indent: 10px; height: 333px; overflow-y: auto;
  scrollbar-color: #7f8fa6 rgba(0,0,0,0) ;
  scrollbar-width: thin;
}

.js-toDoList li{margin-left: 40px;}
.js-toDoList li button::before{
  font-family: xeicon !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-variant-caps: normal;
  font-variant-alternates: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  text-transform: none;
  line-height: 1;
  content: "\e924"; 
  font-size: 28px;
  position: relative;
  top: 6px;
  left: 11px;
}


.js-toDoList::-moz-scrollbar-thumb{
  border-radius: 1em !important;
  background: #7f8fa6;
}

.js-toDoList::-webkit-scrollbar
{
  width: 8px;
}

.js-toDoList::-webkit-scrollbar-thumb { background: #7f8fa6; border-radius: 1em ; }

/* 테마버튼 */
nav{position: fixed; bottom:70px; left:6%; width:88%; }
nav li{float:left; width:25%;}
nav li a{display: block; width:98%; height: 35px; background: #fff; color: #111; margin: 0 auto; transition: .5s; font-size: 12px; font-weight: bold; line-height: 3; letter-spacing: 3px; box-sizing: border-box; padding-left: 30px; opacity: 0.6; z-index: 1; position: relative;}
nav li:hover a{background: #111; color: #ddd; opacity: 0.9;}
nav li.on a{background: #111; color: #ddd; opacity: 0.9;}

/* 배경 구름 */
#wrap>img:nth-child(1){position: absolute; top:0; left:-1146px; animation: ani1 110s linear infinite; opacity: 0.8;}
#wrap>img:nth-child(2){position: absolute; top:20px; left:0; animation: ani2 100s linear infinite; opacity: 0.8;}
/* 모바일 구름 */
figure p img.cl1{position: absolute; top:30; left:-600px; animation: ani3 110s linear infinite;  width:600px; height:auto; z-index: 4;}
figure p img.cl2{position: absolute; top:20px; left:0; animation: ani4 100s linear infinite;  width:700px; height:auto; z-index: 4;;}


@keyframes ani1{
  100%{left:1950px;}
}
@keyframes ani2{
  0%{left:0}
  50%{left:1950px; opacity:0;}
  50.001%{left:-1840px; opacity:0.8;}
  100%{left:0;}
}
@keyframes ani3{
  100%{left:540px;}
}
@keyframes ani4{
  0%{left:0}
  50%{left:540px; opacity:0;}
  50.001%{left:-700px; opacity:1;}
  100%{left:0;}
}

/* 아침테마 */

#wrap.morning {background: url(../img/bg_morning.jpg);}
#wrap.morning #gnb a {color:#555;}
#wrap.morning #sns i {color:#555;}
#wrap.morning figure {background: url(../img/phone_morning.png);}
#wrap.morning figure p{color:#666;}
#wrap.morning article p {color:#666;}
#wrap.morning article p strong{color:#111;}
#wrap.morning article em {color:#666;}
#wrap.morning>img:nth-child(1){opacity: 1;}
#wrap.morning>img:nth-child(2){opacity: 1;}
#wrap.morning .js-toDoList::-webkit-scrollbar-thumb { background: #e1e0e4; }
#wrap.morning .js-toDoList::-moz-scrollbar-thumb{ background: #e1e0e4;}
#wrap.morning button{ color: #e1e0e4; }
#wrap.morning input[type="text"] { border: 5px solid #e1e0e4;}
#wrap.morning .js-toDoList{ scrollbar-color: #e1e0e4 rgba(0,0,0,0) ; }

/* 오후테마 */

#wrap.afternoon {background: url(../img/bg_afternoon.jpg);}
#wrap.afternoon #gnb a {color:#555;}
#wrap.afternoon #sns i {color:#555;}
#wrap.afternoon figure {background: url(../img/phone_afternoon.png);}
#wrap.afternoon figure p{color:#333;}
#wrap.afternoon article p {color:#666;}
#wrap.afternoon article p strong{color:#111;}
#wrap.afternoon article em {color:#333;}
#wrap.afternoon>img:nth-child(1){opacity: 1;}
#wrap.afternoon>img:nth-child(2){opacity: 1;} 
#wrap.afternoon .js-toDoList::-webkit-scrollbar-thumb { background: #78bbf2; }
#wrap.afternoon .js-toDoList::-moz-scrollbar-thumb{ background: #78bbf2;}
#wrap.afternoon button{ color: #78bbf2; }
#wrap.afternoon input[type="text"] { border: 5px solid #78bbf2;}
#wrap.afternoon .js-toDoList{ scrollbar-color: #78bbf2 rgba(0,0,0,0) ; }

/* 저녁테마 */

#wrap.evening {background: url(../img/bg_evening.jpg);}
#wrap.evening #gnb a {color:#fff;}
#wrap.evening #sns i {color:#fff;}
#wrap.evening figure {background: url(../img/phone_evening.png);}
#wrap.evening figure p{color:#fff;}
#wrap.evening article p {color:#444;}
#wrap.evening article p strong{color:#fff;}
#wrap.evening article em {color:#333;}
#wrap.evening>img:nth-child(1){opacity: 0.6;}
#wrap.evening>img:nth-child(2){opacity: 0.6;}
#wrap.evening .js-toDoList::-webkit-scrollbar-thumb { background: #bebad8; }
#wrap.evening .js-toDoList::-moz-scrollbar-thumb{ background: #bebad8;}
#wrap.evening button{ color: #bebad8; }
#wrap.evening input[type="text"] { border: 5px solid #bebad8;}
#wrap.evening .js-toDoList{ scrollbar-color: #bebad8 rgba(0,0,0,0) ; }

/* 밤테마 */

#wrap.night {background: url(../img/bg_night.jpg);}
#wrap.night #gnb a {color:#fff;}
#wrap.night #sns i {color:#fff;}
#wrap.night figure {background: url(../img/phone_night.png);}
#wrap.night figure p{color:#fff;}
#wrap.night article p {color:#bbb;}
#wrap.night article p strong{color:#fff;}
#wrap.night article em {color:#888;}
#wrap.night>img:nth-child(1){opacity: 0.1;}
#wrap.night>img:nth-child(2){opacity: 0.1;}
#wrap.night figure p img.cl1{opacity: 0.4;}
#wrap.night figure p img.cl1{opacity: 0.4;}
